$color:
#002B5B,
#2B4865,
#256D85,
#8FE3CF;

$color2:
#2C3333,
#395B64,
#A5C9CA,
#E7F6F2;

$color3:
#F7ECDE,
#E9DAC1,
#9ED2C6,
#54BAB9;

$color4:
#EB1D36,
#FA9494,
#CFD2CF,
#F5EDDC;

$color5:
#14FFEC,
#0D7377,
#323232,
#212121;